<!DOCTYPE html>
<html>
<head>
</head>
<body>
    Hello!
    @RenderBody()
    <environment names="Development">
    </environment>
    <environment names="Staging,Production">
    </environment>
    @RenderSection( "scripts", false )
</body>
</html>