@model IEnumerable<Dota2.WebApp.Model.Hero>
<button type="button" class="btn btn-default" aria-label="Justify Align">
    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
</button>

@foreach ( var hero in Model )
{
    <span>@hero.LocalizedName</span>
    <img src="@hero.ImagePathFullHorizontalPortrait"/>
}