<div ng-app="dotaApp">
    <div ng-controller="TestController as test">
        Dota2 Div
        <label>Name:</label>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">OO</span>
            <input class="form-control" type="text" placeholder="Enter a name here" ng-model="test.name">
            <input class="form-control" type="text" placeholder="Enter a name here" ng-model="test.name">
        </div>
        
        <h1>Hello {{test.name}}!</h1>
    </div>
</div>

@section scripts
{}